.Main {
  color: white;
  background: black;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(6, 95vw);
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
}

.Main > div,
.Main > button {
  scroll-snap-align: center;
}

.Setup {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: black;
  color: white;
  justify-content: space-between;
}

.Setup > div {
  display: flex;
  flex-direction: column;
}

.Setup > h2 {
  text-align: center;
}

.Setup > button {
  background: #4e5c00;
  color: white;
  border: none;
  padding: 2rem 4rem;
  font-size: 1.4rem;
}

.ProMode {
  display: flex;
  flex-direction: row !important;
  margin: 2rem auto;
}

.ProMode > input {
  width: 0;
  height: 0;
  opacity: 0;
  transform: scale(0);
}

.ProMode > :not(:checked) + label {
  opacity: 0.5;
}

.ProMode > label {
  display: block;
  padding: 1.25rem;
  padding-left: 3rem;
  position: relative;
  border-radius: inherit;
  margin-left: -0.5rem;
}

.ProMode > label::before {
  --s: 1rem;
  content: "";
  position: absolute;
  top: 1.25rem;
  left: 1rem;
  width: var(--s);
  height: var(--s);
  background: white;
  border-radius: 0.25rem;
}

.ProMode > label::after {
  content: "";
  position: absolute;
  top: 1.55rem;
  left: 1.3rem;
  width: 0.3rem;
  height: 0.15rem;
  border: none;
  border-left: 0.15rem solid black;
  border-bottom: 0.15rem solid black;
  transform: rotate(-45deg) scale(0);
  transition: 75ms transform linear;
}

.ProMode > :checked + label::after {
  transform: rotate(-45deg) scale(1);
}

.Replay {
  width: 100%;
  height: 100%;
  background: rgb(30, 30, 30);
  color: white;
  text-transform: uppercase;
  font-size: 1.6rem;
  border: none;
  color: orange;
}

.Replay:hover {
  filter: brightness(1.2);
}

@media (min-width: 750px) {
  .Main {
    display: flex;
    flex-direction: row;
    overflow-x: unset;
    overflow-y: unset;
    scroll-snap-type: unset;
  }

  .Setup {
    align-items: center;
    justify-content: space-around;
  }
  
  .Setup > div {
    display: flex;
    flex-flow: row wrap;
    gap: 0.5rem;
  }

  .Replay {
    max-width: 25ch;
  }
}